In [1]:
print("Hola")

Hola

#### Fundamentos de python
* Variables 
* Operadores matemáticos
* Operadores lógicos
* Operadores de comparación 
* Estructura de control 
  - Condiciones Simples 
  - Condicionales anidados 
  - Condicionales encadenados 
  - Ciclos finitos 
  - Ciclos Infinitos
  
* Funciones 
* Estructura de datos 
  -Cadena de caracteres 
  -listas 
  -Tuplas 
  -Diccionarios

### Variables

In [3]:
name = "josefino"
name

'josefino'

In [4]:
lastname = "primero"

In [6]:
last_name = "primero"

In [7]:
last-name = "primero"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (906108882.py, line 1)

In [8]:
last.name = "primero"

NameError: name 'last' is not defined

In [11]:
LastName = "primero2"

In [12]:
last_name
LastName

'primero2'

In [13]:
lastName = "primero3"

In [18]:
qwert =23
assfg = 10 
zxcvb = qwert * assfg 
zxcvb

230

In [17]:
base = 23 
height = 10 
area = base * height
area

230

In [23]:
print ("area:", area)
print ("apellido:",last_name)
print ("base del triangulo:", base)

area: 230
apellido: primero
base del triangulo: 23

#### Operadores matemáticos básicos

In [26]:
#suma 
number_1 = 10 
number_2 = 20 
result = number_1 + number_2
print ("El resultado de la suma es:", result)

El resultado de la suma es: 30

In [27]:
#resta
number_1 = 10 
number_2 = 20 
result = number_1 - number_2
print ("El resultado  de la resta es:", result)

El resultado  de la resta es: -10

In [28]:
#multiplicacion
number_1 = 10 
number_2 = 20 
result = number_1 * number_2
print ("El resultado  de la multiplicacion es:", result)

El resultado  de la multiplicacion es: 200

In [29]:
#division
number_1 = 10 
number_2 = 20 
result = number_1 / number_2
print ("El resultado  de la division es:", result)

El resultado  de la division es: 0.5

In [32]:
print (type (last_name))
print (type (number_1))
print (type (result))

<class 'str'>
<class 'int'>
<class 'float'>